body {
    background-color: #f0eded;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    color: #373737;
}
*{
    box-sizing: border-box;
}
h1 {
    text-align: center;
}
h2 {
    text-align: left;
}

.highlight {
    color: #ff5733;
    font-weight: bold;
    font-size: 24px;
}
.toplinks {
    background-color: #373737;
    overflow: hidden;
}
.toplinks a {
    float: left;
    color: #f0eded;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.toplinks a:hover {
    text-decoration: none;
    background-color: #f0eded;
    color: #373737;
}
.toplinks-right {
    float: right;
}
.banner {
    background-color: #29a6ee;
    color: #373737;
    padding: 20px;
    text-align: center;
}
.row::after {
    content: "";
    clear: both;
    display: block;
}
.content {
    float: left;
    width: 70%;
    padding: 20px;
    border-right: 1px solid #373737;
}
.sidebar {
    float: left;
    width: 30%;
    padding: 20px;
    background-color: #f0eded;
}

.proj_img {
    width:40%; 
    height:auto; 
    float: left; 
    padding-right: 10px;
}

@media screen and (max-width: 900px) {
    .content, .sidebar, .proj_img {
        width: 100%;
        float: none;
        border-right: none;
    }
}

.footer {
    background-color: #373737;
    color: #ffffff;
    text-align: center;
    padding: 10px;
    font-size: smaller;
}

.team_img{
    overflow: hidden;
    text-align: center;
}

.team_img img{
    width: 200px;
    height: 280px;
    border-radius: 20%;
    padding: 10px;
    display: block;
}

.team_member {
    display: inline-block;
    text-align: center;
    font-size: small;
    text-transform: uppercase;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
th, td {
    border: 1px solid #373737;
    padding: 8px;
    text-align: left;
}
th {
    background-color: #373737;
    color: #f0eded;
}
tr:nth-child(even) {
    background-color: #d6d6d6;
}
tr:hover {
    background-color: #edf1af;
}


.contactForm {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ecf0f1;
    border-radius: 5px;
    border: 1px solid #bdc3c7;
}

.contactForm label {
    margin-bottom: 1px;
    font-weight: bold;
}

.contactForm input,
.contactForm select,
.contactForm textarea {
    width: 100%;
    padding: 12px 16px;
    margin-bottom: 10px;
    border: 1px solid #bdc3c7;
    border-radius: 3px;
    font-size: 1.6em;
    font-family: Arial, Helvetica, sans-serif;
}

.contactForm button {
    background-color: #3498db;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 1.6em;
}

.contactForm button:hover {
    background-color: #2980b9;
}

/* CSS for the ValidForm.html page */
        .registration-form {
            max-width: 400px;
            margin: 0 auto;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
        .registration-form input, button {
            width: 100%;
            padding: 10px;
            margin: 5px 0;
            box-sizing: border-box;
            font-size: 1.6em;
            font-family: Arial, sans-serif;
        }
        .registration-form .field {
            margin-bottom: 12px;
        }
        .registration-form .error {
            color: red;
            margin: 0;
        }
        .registration-form .success {
            color: green;
            margin: 0;
        }